In [82]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

In [43]:
df = pd.read_csv('divorce.csv')
df.head()

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals,...,silence_for_harm,silence_fear_anger,I'm_right,accusations,I'm_not_guilty,I'm_not_wrong,no_hesitancy_inadequate,you're_inadequate,incompetence,Divorce_Y_N
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [7]:
df.describe()

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals,...,silence_for_harm,silence_fear_anger,I'm_right,accusations,I'm_not_guilty,I'm_not_wrong,no_hesitancy_inadequate,you're_inadequate,incompetence,Divorce_Y_N
count,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,...,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000
mean,1.776471,1.652941,1.764706,1.482353,1.541176,0.747059,0.494118,1.452941,1.458824,1.576471,...,2.552941,2.270588,2.741176,2.382353,2.429412,2.476471,2.517647,2.241176,2.011765,0.494118
std,1.627257,1.468654,1.415444,1.504327,1.632169,0.904046,0.898698,1.546371,1.557976,1.421529,...,1.371786,1.586841,1.137348,1.511587,1.405090,1.260238,1.476537,1.505634,1.667611,0.501442
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,...,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,0.000000
75%,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000

In [12]:
df.isnull().sum().sum()

0

In [32]:
df.shape

(170, 55)

In [44]:
df.drop(df.iloc[:, 10:54], inplace=True, axis=1)

In [45]:
df.head()

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals,Divorce_Y_N
0,2,2,4,1,0,0,0,0,0,0,1
1,4,4,4,4,4,0,0,4,4,4,1
2,2,2,2,2,1,3,2,1,1,2,1
3,3,2,3,2,3,3,3,3,3,3,1
4,2,2,1,1,1,1,0,0,0,0,1

In [81]:
df.tail()

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals,Divorce_Y_N
165,0,0,0,0,0,0,0,0,0,0,0
166,0,0,0,0,0,0,0,0,0,0,0
167,1,1,0,0,0,0,0,0,0,1,0
168,0,0,0,0,0,0,0,0,0,0,0
169,0,0,0,0,0,0,0,1,0,0,0

In [46]:
from sklearn.model_selection import train_test_split
X = df.drop(columns='Divorce_Y_N')
y = df['Divorce_Y_N']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=10)

In [47]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(n_estimators=20)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=20)

In [78]:
y_pred = classifier.predict(X_test)

In [80]:
y_pred[0]

1

In [66]:
X_test.head()

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals
52,4,3,2,3,4,1,0,3,2,3
43,3,3,3,2,3,1,1,3,3,2
133,1,2,0,0,0,0,0,0,0,0
19,4,4,4,3,4,0,0,4,4,3
67,4,2,2,3,4,2,0,2,2,3

In [61]:
df.columns

Index(['Sorry_end', 'Ignore_diff', 'begin_correct', 'Contact', 'Special_time',
       'No_home_time', '2_strangers', 'enjoy_holiday', 'enjoy_travel',
       'common_goals', 'Divorce_Y_N'],
      dtype='object')

In [62]:
array = [4,4,4,4,4,0,0,4,4,4]

In [74]:
X_test.drop(X_test.index, inplace=True)

In [76]:
X_test.loc[len(X_test.index)] = array

In [77]:
X_test.head()

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals
0,4,4,4,4,4,0,0,4,4,4

In [49]:
len(y_pred)

43

In [50]:
from tabulate import tabulate

In [51]:
table = [y_pred, y_test]
print(tabulate(table))

-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
1  1  0  1  1  0  0  0  1  0  0  1  0  0  1  1  0  0  1  1  1  0  0  1  1  0  0  0  1  1  0  1  1  0  1  0  0  0  1  0  1  1  0
1  1  0  1  1  0  0  0  1  0  0  1  0  0  1  1  0  0  1  1  1  0  0  1  1  0  0  0  1  1  0  1  1  0  1  0  0  0  1  0  1  1  0
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

In [52]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_test)

1.0